---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<svg
  role="img"
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg"
  class={`fill-green-500 ${className}`}
>
  <title>Supabase</title>
  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
    d="M4 14h8v7l8 -11h-8v-7z"></path></svg
>
