---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const Items = [
  { name: t("nav.home"), href: `/${lang}` },
  { name: t("nav.blog"), href: `/${lang}/blog` },
];
---

<nav class="flex justify-between items-center">
  <ul class="flex gap-4">
    {
      Items.map((item) => (
        <li>
          <a href={item.href} class="hover:text-neutral-300">
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
