---
import Links from "./Links.astro";
import LanguagePicker from "./LanguagePicker.astro";
---

<div class="flex justify-between items-center mb-12 sm:mb-16 mt-2">
  <Links />
  <LanguagePicker />
</div>
